@model Typo.Model.Models.Account
<div class="page-header">
    <h1>Register <small>to get access to the website</small></h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="col-lg-12">
                <form method="post">
                    <div class="well">
                        <div class="form-group">
                            @* <h3 style="line-height: 20%;"><i class="fa fa-home fa-1x" style="line-height: 6%; color: #339966"></i> FirstName:</h3> *@
                            <label>E-mail:</label>
                            <input name="MailUser" type="email" class="form-control" placeholder="Your Email." required />
                        </div>
                        <div class="form-group">
                            @* <h3 style="line-height: 20%;"><i class="fa fa-envelope fa-1x" style="line-height: 6%; color: #339966"></i> LastName:</h3> *@
                            <label>Password:</label>
                            <input name="Password" type="password" class="form-control" placeholder="Your Password." required />
                        </div>
                        <div class="form-group">
                            @* <h3 style="line-height: 20%;"><i class="fa fa-envelope fa-1x" style="line-height: 6%; color: #339966"></i> LastName:</h3> *@
                            <label>FirstName</label>
                            <input name="FirstName" type="text" class="form-control" placeholder="Your FirstName." required />
                        </div>
                        <div class="form-group">
                            @* <h3 style="line-height: 20%;"><i class="fa fa-envelope fa-1x" style="line-height: 6%; color: #339966"></i> LastName:</h3> *@
                            <label>Lastname</label>
                            <input name="LastName" type="text" class="form-control" placeholder="Your LastName." required />

                        </div>
                        <div class="form-group">
                            <label>BirthDate</label>
                            <input name="BirthDate" type="date" class="form-control" placeholder="Your BirthDate." required/>
                        </div>
                        <button class="btn btn-info" type="submit">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
