<!DOCTYPE html>
<html>
<head>
    <title>TYPO</title>
    <link rel="stylesheet" href="~/styles/games.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500&display=swap" rel="stylesheet">
    <script src="addons/jquery/jquery-3.4.1.min.js"></script>
    <script src="scripts/main.js"></script>
</head>

<body>
    <a href='@Url.Action("Index", "Home")'><button id="button2">Ga terug naar de hoofdpagina</button></a>
    <div class="games-container">
    <div class="header-container">
        <h2>Account</h2>
        <h1>Games</h1>
        <hr class="heading-line">
    </div>
    <div class="product-container">
        <div class="product">
            <div class="game-alignment">
                <h1 style="color:#0d171a;">GAME 1</h1>
                <hr class="game-line">
                <h5></p>[beschrijving hier]</h5>
            </div>
            <img class="game-image" src="~/images/game1.jpg">
            <button class="btn btn-info" id="button" type="submit">Download</button>
        </div>
        <div class="product">
            <div class="game-alignment">
                <h1 style="color:#0d171a;">GAME 2</h1>
                <hr class="game-line">
                <h5></p>[beschrijving hier]</h5>
            </div>
            <img class="game-image" src="~/images/game2.jpg">
            <button class="btn btn-info" id="button" type="submit">Download</button>
        </div>
        <div class="product">
            <div class="game-alignment">
                <h1 style="color:#0d171a;">GAME 3</h1>
                <hr class="game-line">
                <h5></p>[beschrijving hier]</h5>
            </div>
            <img class="game-image" src="~/images/game3.jpg">
            <button class="btn btn-info" id="button" type="submit">Download</button>
        </div>
        </div>
    </form>
</div>
    <div class="footer">
        © 2019 TYPO
    </div>
</body>
</html>