<head>
    <title>TYPO</title>
    <link rel="stylesheet" href="~/styles/purchase.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500&display=swap" rel="stylesheet">
</head>

<body>
    <div class="background"></div>
    <a href='@Url.Action("Index", "Home")'><button id="button2">Ga terug naar de hoofdpagina</button></a>
    <div class="about-container">
        <h2>Ons product</h2>
        <h1>Wat is TYPO?</h1>
        <hr class="heading-line">
        <p class="about">
            Ons spel is ons tastbare product. Een programma met verschillende soorten spellen zodat jij jouw voorkeur kan kiezen, binnen deze spellen zitten verschillende niveaus en snelheden. In het spel zelf kan jij een account aanmaken om je scores bij te houden en te vergelijken met anderen.
            <br><br>Wanneer je het product koopt, krijg je hier een racebaan bij met auto’s die gekoppeld zijn aan het spel. Hiermee kan je met twee spelers tegelijk op een daadwerkelijke racebaan tegen elkaar racen. Naast het product, bied het programma ook een mogelijkheid aan voor ouders of begeleiders om hun kinderen of cliënten te controleren en hun vordering te bekijken. Bedrijven kunnen bij meerderjarige overeenkomsten kortingen krijgen.
        </p>
    </div>

    <div class="product-container">
        <div class="product">
            <div class="feature-alignment" id="features">
                <h1 style="color:#0d171a;">PRODUCT 1</h1>
                <hr class="feature-line">
                <h5>€22,50 per maand  of  €270,- per jaar</h5>
            </div>
            <img class="placeholder2" src="/images/placeholder-image.png">
            <li>2 licenties</li>
            <li>1 racepakket</li>
            <button class="btn btn-info" id="button-unavailable" type="submit">Niet beschikbaar</button>
        </div>
        <div class="product">
            <div class="feature-alignment">
                <h1 style="color:#0d171a;">PRODUCT 2</h1>
                <hr class="feature-line">
                <h5></p>€200 per maand  of  €2400,- per jaar</h5>
            </div>
            <img class="placeholder2" src="/images/placeholder-image.png">
            <li>20 licenties</li>
            <li>1 racepakket</li>
            <button class="btn btn-info" id="button-unavailable" type="submit">Niet beschikbaar</button>
        </div>
        <div class="product">
            <div class="feature-alignment">
                <h1 style="color:#0d171a;">PRODUCT 3</h1>
                <hr class="feature-line">
                <h5></p>€395,83 per maand  of  €4.750,- per jaar</h5>
            </div>
            <img class="placeholder2" src="/images/placeholder-image.png">
            <li>40 licenties</li>
            <li>2 racepakket</li>
            <button class="btn btn-info" id="button-unavailable" type="submit">Niet beschikbaar</button>
        </div>
        <div class="product">
            <div class="feature-alignment" id="features">
                <h1 style="color:#0d171a;">PRODUCT 4</h1>
                <hr class="feature-line">
                <h5></p>€591,67 per maand  of  €7.100,- per jaar</h5>
            </div>
            <img class="placeholder2" src="/images/placeholder-image.png">
            <li>60 licenties</li>
            <li>3 racepakket</li>
            <button class="btn btn-info" id="button-unavailable" type="submit">Niet beschikbaar</button>
        </div>
        <div class="product">
            <div class="feature-alignment" id="features">
                <h1 style="color:#0d171a;">PRODUCT 5</h1>
                <hr class="feature-line">
                <h5></p>€983,33 per maand  of  €11.800,- per jaar</h5>
            </div>
            <img class="placeholder2" src="/images/placeholder-image.png">
            <li>100 licenties</li>
            <li>5 racepakket</li>
            <button class="btn btn-info" id="button-unavailable" type="submit">Niet beschikbaar</button>
        </div>
    </div>
    <div class="product-container">
        <div class="product">
            <div class="feature-alignment" id="features">
                <h1 style="color:#0d171a;">PRODUCT 6</h1>
                <hr class="feature-line">
                <h5></p>€15,- per maand  of  €120,- per jaar</h5>
            </div>
            <img class="placeholder2" src="/images/placeholder-image.png">
            <li>1 losse licentie</li>
            <a href='@Url.Action("GenerateKey", "License")'><button class="btn btn-info" id="button" type="submit">Bestel</button></a>
</div>
        <div class="product">
            <div class="feature-alignment" id="features">
                <h1 style="color:#0d171a;">PRODUCT 7</h1>
                <hr class="feature-line">
                <h5></p>€30,-<br><br></h5>
            </div>
            <img class="placeholder2" src="/images/placeholder-image.png">
            <li>1 los racepakket</li>
            <button class="btn btn-info" id="button-unavailable" type="submit">Niet beschikbaar</button>
        </div>
        <div class="product"></div>
        <div class="product"></div>
        <div class="product"></div>
    </div>
    <div class="spacing"></div>
    <div class="footer">
        © 2019 TYPO
    </div>
</body>
</html>