<!DOCTYPE html>
<html>
<head>
    <title>TYPO</title>
    <link rel="stylesheet" href="styles/index.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500&display=swap" rel="stylesheet">
    <script src="addons/jquery/jquery-3.4.1.min.js"></script>
    <script src="scripts/main.js"></script>
</head>

<body>
        Purchase
</body>