@{
    ViewData["Title"] = "Home Page";
}
<div class="jumbotron Header">
    <h1>Typo!</h1>
</div>
<div class="center">
    <button onclick="location.href='@Url.Action("TypeRacer", "Game")'" type="button" class="btn btn-danger">Typeracer!</button>
    <button type="button" class="btn btn-primary">Game #2</button>
    <button type="button" class="btn btn-warning">Game #3</button>
    <button type="button" class="btn btn-success">Game #4</button>
</div>
