@using Newtonsoft.Json
@using Typo.Model.Models
@model Typo.Model.Models.Key
@{
    ViewBag.Title = "Home Page";
}
@{
    string expireDate = "";
    string Key = "";
    if (Request.Cookies["UserInfo"] != null)
    {
        var keyInfo = JsonConvert.DeserializeObject<Key>(Request.Cookies["LicenseInfo"].Value);
        Key = keyInfo.LicenseKey;
        expireDate = keyInfo.LicenseDate.Date.ToString("dd/MM/yyyy");
    }
}

<h2>TypeRacer</h2>
<h1>Uw Licentie: @Key</h1>
<h1>Datum einde licentie: @expireDate</h1>

<a href="@Url.Action("GetExcelFile", "Game")">
    Download
    <img src="@Url.Content("~/Content/GuessTheNumber.exe")" title="Download Excel" />
</a>

