:root {
    --gradient: linear-gradient( 45deg, rgba(17, 42, 46, 0.8), rgba(0, 177, 157, 0.8), rgba(41, 196, 150, 0.8), rgba(104, 213, 140, 0.8) );
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif !important;
    background-image: url(/images/pattern.png);
    background-size: 100%;
}

html {
    scroll-behavior: smooth;
}


p {
    font-size: 18px;
}

#sidebar{
	background:#0d171a;
	width:300px;
	height:100%;
	display:block;
	position: fixed;
	left:-300px;
	top:0px;
    transition:left 0.3s linear;
    z-index: 1;
}

#sidebar.visible{
	left:0px;
	transition:left 0.3s linear;
}

#logo {
    padding: 12px;
    width: 275px;
    margin-bottom: -3px;
    background:#1c3136;
}

#logo:hover {
    background:#018679;
}

ul{
	margin:0px;
	padding:0px;
}

ul li{
	list-style:none;
    font-size: 1.2em;
}

ul li a{
	background:#132125;
	color:#ccc;
	border-bottom:1px solid #0d171a;
	display:block;
	width:280px;
	padding:10px;
	text-decoration: none;
}

ul li a:hover {
    padding-left: 20px;
    background:#018679;
    transition: 0.2s;
    width: 265px;
    border-left: 5px solid #04ad9c; 
}

#sidebar-btn{
	display:inline-block;
	vertical-align: middle;
	width:30px;
	height:20px;
	cursor:pointer;
	margin:20px;
	position:absolute;
	top:0px;
    right:-70px;
}

#sidebar-btn span{
    height:4px;
	background:#0d171a;
	margin-bottom:5px;
    display:block;
    border-radius: 10px;
}

#sidebar-btn:hover {
    transform: scale(1.1);
}

.login-form {
    margin-top: -1px;
    background:#132125;
	color:#ccc;
	border-bottom:1px solid #0d171a;
	display: none;
	padding:10px;
	text-decoration: none;
}

.logged-user {
    background: #132125;
    border-bottom: 1px solid #0d171a;
    border-top: 1px solid #0d171a;
    display: block;
    width: 280px;
    padding: 10px;
}
.welcome-font {
    font-weight: 400;
    color: #CCC;
}

.login-form > form {
    width: 100%;
    margin: 15px auto;
    font-weight: 500;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    /* color: #0d171a; */
    letter-spacing: -0.05em;
}

input[type="text"], input[type="password"] {
    margin-bottom: 10px;
    margin-top: 5px;
    padding-left: 5px;
    width: 275px;
    height: 25px;
    /* border: 0px; */
    outline: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    border-top: 4px solid #3c6572;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    box-shadow: inset 0px 0px 1px 1px #948532;
}

input[type="submit"] {
    margin-top: 5px;
    margin-bottom: 10px;
    width: 100%;
    height: 29px;
    background: #3c6572;
    font-weight: 600;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    outline: none;
    border: 0px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background: #018679;
}

.register > a {
    position: relative;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    color: white;
    /* color: #0d171a; */
}

.register > a:hover {
    color: #018679;
    font-weight: 600;
}
.header-logo {
    padding: 1em;
    border-radius: 20px;
    margin: auto;
    margin-bottom: 225px;
    background-color: rgba(0, 0, 0, 0.3);
    height: 30% !important;
    width: 22.2% !important;
    animation: logo-anim 1.5s;
}

@keyframes logo-anim {
    0% {
        transform: scale(0.0);
    }

    100% {
        transform: scale(1.0);
    }
}

.header {
    display: grid;
    grid-template-rows: 500px;
    text-align: center;
    line-height: 500px;
    background: var(--gradient), url(/images/header-image.jpg);
    background-size: 200%;
    animation: header-animation 90s infinite alternate;
}

@keyframes header-animation {
    0% {
        background-position: left;
    }

    100% {
        background-position: right;
    }
}

.header-transition {
    margin-top: -100px;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 13em;
    display: grid;
    grid-template-columns: 3fr 2fr 3fr;
    grid-column-gap: 1em;
    height: 275px;
}

.header-transition > div {
    background: white;
    border-radius: 10px;
}

.transition-img-1 {
    margin-top: -30px;
    margin-bottom: 30px;
}

.transition-img-2 {
    margin-top: 35px;
    margin-bottom: -35px;
}

/* .transition-img-3 {
    margin-top: -75px;
    margin-bottom: 75px;
} */

.transition-img-container {
    margin: 15px;
    height: 100%;
}

.transition-img {
    height: 375px;
    width: 100%;
    border-radius: 10px;
}

.about-container {
    animation: slide 0.5s forwards;
    animation-delay: 2s;
    margin-bottom: 6em;
    display: grid;
    /* height: 400px; */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    /* grid-row-gap: 1em; */
    grid-column-gap: 1em;
    /* background: gray; */
    grid-template-areas: "line title title ." "about title title ." "about text1 text2 ." ". text1 text2 ." ". text1 text2 ."
}

h1 {
    font-weight: 500;
    color: #274852;
}

h2 {
    font-weight: 400;
    font-size: 20px;
}

.about-h1 {
    grid-area: title;
}

.about-h2 {
    margin-bottom: 3em;
    grid-area: about;
    justify-self: end;
    writing-mode: vertical-lr;
    transform:rotateY(180deg) scale(1, -1);
}

.about-line {
    margin-top: 2em;
    margin-right: 1.75em;
    width: 2px;
    height: 55%;
    background-color: black;
    grid-area: line;
    justify-self: end;
}

.about-text1 {
    grid-area: text1;
    margin-top: -0.5em;
    line-height: 1.8;
    font-weight: 500;
}

.about-text2 {
    grid-area: text2;
    margin-top: -0.5em;
    line-height: 1.8;
    font-weight: 500;
}

.features-container {
    overflow: hidden !important;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    /* grid-column-gap: 1em; */
    grid-template-areas: "block block block block image1 image1 text1 text1" "block block block block image1 image1 text1 text1" "block block block block text2 text2 image2 image2" "block block block block text2 text2 image2 image2"
}

.features-block {
    color: white;
    background: var(--gradient);
    background-size: 400%;
    grid-area: block;
    font-weight: 600;
    font-size: 50px;
}

.features-block > h3 {
    padding: 4em;
    padding-left: 2em;
}

.features-img-container1 {
    padding: 3em;
    padding-left: 5em;
    grid-area: image1;
    animation: wiggle1 12s infinite;
}

@keyframes wiggle1 {
    0% {
        transform: rotate(0deg);
    }

    4% {
        transform: rotate(0deg);
    }

    5% {
        transform: rotate(-3deg);
    }

    6% {
        transform: rotate(5deg);
    }

    7% {
        transform: rotate(-5deg);
    }

    8% {
        transform: rotate(5deg);
    }

    9% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.features-img {
    border-radius: 10px;
    width: 90%;
    height: 100%;
}

.features-text1 {
    /* padding-top: 2em; */
    grid-area: text1;
    padding-left: 3em;
}

.features-text1 > h1 {
    color: #00b19e;
    font-weight: 600;
    font-size: 70px;
    margin-top: -0.1em;
    padding-top: 0.2em;
    margin-bottom: -1em;
    letter-spacing: 0.05em;
}

.features-text1 > h2 {
    color: #274852;
    font-weight: 500;
    font-size: 70px;
    margin-bottom: -1em;
    /* letter-spacing: 0.02em; */
}

.features-text1 > p {
    padding-top: 3.5em;
    padding-right: 6em;
    line-height: 1.8;
    font-weight: 500;
}

.features-img-container2 {
    padding: 3em;
    padding-right: 5.5em;
    grid-area: image2;
    animation: wiggle2 12s infinite;
}

@keyframes wiggle2 {
    0% {
        transform: rotate(0deg);
    }

    24% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-3deg);
    }

    26% {
        transform: rotate(5deg);
    }

    27% {
        transform: rotate(-5deg);
    }

    28% {
        transform: rotate(5deg);
    }

    29% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.features-text2 {
    grid-area: text2;
    padding-left: 5em;
}

.features-text2 > h1 {
    color: #00b19e;
    font-weight: 600;
    font-size: 70px;
    margin-top: -0.1em;
    padding-top: 0.2em;
    margin-bottom: -1em;
    letter-spacing: 0.05em;
}

.features-text2 > h2 {
    color: #274852;
    font-weight: 500;
    font-size: 70px;
    margin-bottom: -1em;
}

.features-text2 > p {
    padding-top: 3.5em;
    padding-right: 6em;
    line-height: 1.8;
    font-weight: 500;
}

.benefits-container {
    margin-top: 10em;
    margin-bottom: 15em;
    display: grid;
    /* height: 400px; */
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    /* grid-row-gap: 1em; */
    grid-column-gap: 1em;
    /* background: gray; */
    grid-template-areas:
    "line title title . text1 text1 . ."
    "benefits undertitle undertitle . . . text2 text2"
    ". . . . text3 text3 . ."
    ". . . . . . text4 text4"
    ". . . . text5 text5 . ."
}

.benefits-line {
    position: sticky;
    top: 3em;
    margin-top: 2em;
    margin-right: 1.75em;
    width: 2px;
    height: 20%;
    background-color: black;
    grid-area: line;
    justify-self: end;
}

.benefits-h1 {
    position: sticky;
    top: 1em;
    grid-area: title;
}

.benefits-h2 {
    margin-top: -16.5em;
    position: sticky;
    top: -1.5em;
    grid-area: benefits;
    justify-self: end;
    writing-mode: vertical-lr;
    transform:rotateY(180deg) scale(1, -1);
    height: 100%;
}

.benefits-under {
    position: sticky;
    top: 8em;
    grid-area: undertitle;
    margin-top: -7em;
    line-height: 1.8;
    font-weight: 500;
}

.benefits-box1 {
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 5em;
    margin-left: 5em;
    margin-right: -4em;
    grid-area: text1;
    line-height: 1.8;
    font-weight: 500;
    border-style: solid;
    border-width: thick;
    border-color: #00b19e;
    border-radius: 10px;
    width: 80%;
    }

    .benefits-box1 > h1 {
    margin-top: 0;
    }

    .benefits-box1 > p {
    margin-top: -1em;
    }

    .benefits-box1:hover {
        transition-duration: 0.2s;
        transform: scale(1.1);
        box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.3);
        border-color: #0c766a;
}



.benefits-box2 {
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 5em;
    margin-left: -4em;
    margin-right: 5em;
    grid-area: text2;
    margin-top: -0.5em;
    line-height: 1.8;
    font-weight: 500;
    border-style: solid;
    border-width: thick;
    border-color: #00b19e;
    border-radius: 10px;
    width: 80%;
    }

    .benefits-box2 > h1 {
    margin-top: 0;
    }

    .benefits-box2 > p {
    margin-top: -1em;
    }

    .benefits-box2:hover {
        transition-duration: 0.2s;
        transform: scale(1.1);
        box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.3);
        border-color: #0c766a;
}

.benefits-box3 {
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 5em;
    margin-left: 5em;
    margin-right: -4em;
    grid-area: text3;
    margin-top: -0.5em;
    line-height: 1.8;
    font-weight: 500;
    border-style: solid;
    border-width: thick;
    border-color: #00b19e;
    border-radius: 10px;
    width: 80%;
    }

    .benefits-box3 > h1 {
    margin-top: 0;
    }
    
    .benefits-box3 > p {
    margin-top: -1em;
    }

    .benefits-box3:hover {
        transition-duration: 0.2s;
        transform: scale(1.1);
        box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.3);
        border-color: #0c766a;
}

.benefits-box4 {
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 5em;
    margin-left: -4em;
    margin-right: 5em;
    grid-area: text4;
    margin-top: -0.5em;
    line-height: 1.8;
    font-weight: 500;
    border-style: solid;
    border-width: thick;
    border-color: #00b19e;
    border-radius: 10px;
    width: 80%;
    }

    .benefits-box4 > h1 {
    margin-top: 0;
    }
    
    .benefits-box4 > p {
    margin-top: -1em;
    padding-bottom: 1em;
    }

    .benefits-box4:hover {
        transition-duration: 0.2s;
        transform: scale(1.1);
        box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.3);
        border-color: #0c766a;
}

.benefits-box5 {
    padding-left: 1em;
    padding-right: 1em;
    margin-left: 5em;
    margin-right: -4em;
    grid-area: text5;
    margin-top: -0.5em;
    line-height: 1.8;
    font-weight: 500;
    border-style: solid;
    border-width: thick;
    border-color: #00b19e;
    border-radius: 10px;
    width: 80%;
    }

    .benefits-box5 > h1 {
    margin-top: 0;
    }
    
    .benefits-box5 > p {
    margin-top: -1em;
    }

    .benefits-box5:hover {
        transition-duration: 0.2s;
        transform: scale(1.1);
        box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.3);
        border-color: #0c766a;
}

.map > iframe {
    display: grid;
    grid-template-columns: 1fr;
    height: 35em;
    width: 100%;
    border: 0;
    margin-bottom: 10em;
}

.contact-container {
    margin-bottom: 6em;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 1em;
    grid-template-areas:
    "line title . form ."
    "contact text . form ."
}

.contact-h1 {
    grid-area: title;
}

.contact-h2 {
    margin-top: -21.5em;
    grid-area: contact;
    justify-self: end;
    writing-mode: vertical-lr;
    transform:rotateY(180deg) scale(1, -1);
    height: 100%;
}

.contact-line {
    margin-top: 2em;
    margin-right: 1.75em;
    width: 2px;
    height: 20%;
    background-color: black;
    grid-area: line;
    justify-self: end;
}

.contact-text {
    grid-area: text;
    margin-top: -12em;
    line-height: 1.8;
    font-weight: 500;
}

.contact-container > form {
    padding-top: 2em;
    grid-area: form;
    font-weight: 500;
}

input[type=text2], select, textarea {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
    margin-top: 5px;
    padding-left: 5px;
    height: 30px;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    border-top: 4px solid #00b19e;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    box-shadow: inset 0px 0px 1px 1px #d3d2cc;
  }
  
  input[type=submit2] {
    width: 100%;
    height: 35px;
    background: #00b19e;
    font-weight: 600;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    outline: none;
    border: 0px;
    cursor: pointer;
    text-align: center;
  }
  
  input[type=submit2]:hover {
    transition: background-color 0.2s;
    background: #018679;
  }

  .footer {
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 1em;
    padding-bottom: 1em;
    width: 100%;
    color: #e4e3dd;
    background-color: #0d171a;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    justify-items: center;
}

@media only screen and (max-width: 1536px) {
    h1 {
        font-size: 1.6em;
    }

    h2 {
      font-size: 16;
    }

    p {
        font-size: 14px;
    }

    .login-form > form {
        font-size: 11px;
    }
    
    input[type="text"], input [type="password"] {
        font-size: 10px;
    }
    
    .register > a {
        font-size: 10px;
    }
    
    .features-block {
        font-size: 40px;
    }
    
    .features-text1 > h1 {
        font-size: 56px;
    }
    
    .features-text1 > h2 {
        font-size: 56px;
    }

    .features-text2 > h1 {
        font-size: 56px;
    }
    
    .features-text2 > h2 {
        font-size: 56px;
    }
    
    input[type=submit2] {
        font-size: 11px;
    }

    .about-text1, .about-text2 {
        margin-top: -2em;
    }

    .contact-text {
        margin-top: -12.5em;
    }

    .contact-line {
        height: 16%;
    }

    .contact-h2 {
        margin-top: -22.5em;
    }

    .benefits-h2 {
        margin-top: -13em;
    }

    .features-img {
        width: 100%;
    }

    .benefits-h2 {
        top: 0.5em;
    }

    .benefits-under {
        top: 6.5em;
    }
}

@media only screen and (max-width: 900px) {

    .about-h1 {
        display: block;
        padding-top: 3em;
        padding-bottom: 2em;
    }
    
    .about-text1 {
        display: block;
    }
    
    .about-text2 {
        display: block;
        padding: 1em;
    }


    .features-container {
        display: block;
    }

    .benefits-container, .contact-container {
        display: block;
        margin-left: 4em;
        margin-right: 4em;
    }

    .header-transition, .about-line, .about-h2, .benefits-line, .benefits-h2, .contact-line, .contact-h2  {
        display: none;
    }
    
    .benefits-h1 {
        position: relative;
    }
    
    .benefits-under {
        position: relative;
        padding-bottom: 10em;
    }

    .benefits-box1, .benefits-box2, .benefits-box3, .benefits-box4, .benefits-box5 {
        padding-left: 1em;
        padding-right: 1em;
        margin-left: 4em;
        margin-right: 4em;
    }

    .contact-h1 {
        padding-bottom: 13em;
    }
}
.login-form1{
    display: none;
}

.header > img {
    width: 100%;
    height: 100%;
}

#login {
    margin-top:40px;
}

.header {
    display: grid;
    grid-template-rows: 500px;
    background: #00b19e;
    text-align: center;
    line-height: 500px;
}

.header-logo {
    padding: 1em;
    border-radius: 20px;
    margin: auto;
    margin-bottom: 225px;
    background-color: rgba(0, 0, 0, 0.3);
    height: 30% !important;
    width: 22.2% !important;
    animation: logo-anim 1.5s;
}

@keyframes logo-anim {
    0% {
        transform: scale(0.0);
    }

    100% {
        transform: scale(1.0);
    }
}

.header {
    display: grid;
    grid-template-rows: 500px;
    text-align: center;
    line-height: 500px;
    background: var(--gradient), url(/images/header-image.jpg);
    background-size: 200%;
    animation: header-animation 90s infinite alternate;
}

@keyframes header-animation {
    0% {
        background-position: left;
    }

    100% {
        background-position: right;
    }
}

.header-transition {
    margin-top: -100px;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 13em;
    display: grid;
    grid-template-columns: 3fr 2fr 3fr;
    grid-column-gap: 1em;
    height: 275px;
}

    .header-transition > div {
        background: white;
        border-radius: 10px;
    }

.transition-img-1 {
    margin-top: -30px;
    margin-bottom: 30px;
}

.transition-img-2 {
    margin-top: 35px;
    margin-bottom: -35px;
}

/* .transition-img-3 {
    margin-top: -75px;
    margin-bottom: 75px;
} */

.transition-img-container {
    margin: 15px;
    height: 100%;
}

.transition-img {
    height: 375px;
    width: 100%;
    border-radius: 10px;
}

.about-container {
    animation: slide 0.5s forwards;
    animation-delay: 2s;
    margin-bottom: 6em;
    display: grid;
    /* height: 400px; */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    /* grid-row-gap: 1em; */
    grid-column-gap: 1em;
    /* background: gray; */
    grid-template-areas: "line title title ." "about title title ." "about text1 text2 ." ". text1 text2 ." ". text1 text2 ."
}

h1 {
    font-weight: 500;
    color: #274852;
}

h2 {
    font-weight: 400;
    font-size: 20px;
}

.about-h1 {
    grid-area: title;
}

.about-h2 {
    margin-bottom: 3em;
    grid-area: about;
    justify-self: end;
    writing-mode: vertical-lr;
    transform: rotateY(180deg) scale(1, -1);
}

.about-line {
    margin-top: 2em;
    margin-right: 1.75em;
    width: 2px;
    height: 55%;
    background-color: black;
    grid-area: line;
    justify-self: end;
}

.about-text1 {
    grid-area: text1;
    margin-top: -0.5em;
    line-height: 1.8;
    font-weight: 500;
}

.about-text2 {
    grid-area: text2;
    margin-top: -0.5em;
    line-height: 1.8;
    font-weight: 500;
}

.features-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    /* grid-column-gap: 1em; */
    grid-template-areas: "block block block block image1 image1 text1 text1" "block block block block image1 image1 text1 text1" "block block block block text2 text2 image2 image2" "block block block block text2 text2 image2 image2"
}

.features-block {
    color: white;
    background: var(--gradient);
    background-size: 400%;
    grid-area: block;
    font-weight: 600;
    font-size: 50px;
}

    .features-block > h3 {
        padding: 4em;
        padding-left: 2em;
    }

.features-img-container1 {
    padding: 3em;
    padding-left: 5em;
    grid-area: image1;
    animation: wiggle1 12s infinite;
}

@keyframes wiggle1 {
    0% {
        transform: rotate(0deg);
    }

    4% {
        transform: rotate(0deg);
    }

    5% {
        transform: rotate(-3deg);
    }

    6% {
        transform: rotate(5deg);
    }

    7% {
        transform: rotate(-5deg);
    }

    8% {
        transform: rotate(5deg);
    }

    9% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.features-img {
    border-radius: 10px;
    width: 90%;
    height: 100%;
}

.features-text1 {
    /* padding-top: 2em; */
    grid-area: text1;
    padding-left: 3em;
}

    .features-text1 > h1 {
        color: #00b19e;
        font-weight: 600;
        font-size: 70px;
        margin-top: -0.1em;
        padding-top: 0.2em;
        margin-bottom: -1em;
        letter-spacing: 0.05em;
    }

    .features-text1 > h2 {
        color: #274852;
        font-weight: 500;
        font-size: 70px;
        margin-bottom: -1em;
        /* letter-spacing: 0.02em; */
    }

    .features-text1 > p {
        padding-top: 3.5em;
        padding-right: 6em;
        line-height: 1.8;
        font-weight: 500;
    }

.features-img-container2 {
    padding: 3em;
    padding-right: 5.5em;
    grid-area: image2;
    animation: wiggle2 12s infinite;
}

@keyframes wiggle2 {
    0% {
        transform: rotate(0deg);
    }

    24% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-3deg);
    }

    26% {
        transform: rotate(5deg);
    }

    27% {
        transform: rotate(-5deg);
    }

    28% {
        transform: rotate(5deg);
    }

    29% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.features-text2 {
    grid-area: text2;
    padding-left: 5em;
}

    .features-text2 > h1 {
        color: #00b19e;
        font-weight: 600;
        font-size: 70px;
        margin-top: -0.1em;
        padding-top: 0.2em;
        margin-bottom: -1em;
        letter-spacing: 0.05em;
    }

    .features-text2 > h2 {
        color: #274852;
        font-weight: 500;
        font-size: 70px;
        margin-bottom: -1em;
    }

    .features-text2 > p {
        padding-top: 3.5em;
        padding-right: 6em;
        line-height: 1.8;
        font-weight: 500;
    }

.benefits-container {
    margin-top: 10em;
    margin-bottom: 15em;
    display: grid;
    /* height: 400px; */
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    /* grid-row-gap: 1em; */
    grid-column-gap: 1em;
    /* background: gray; */
    grid-template-areas: "line title title . text1 text1 . ." "benefits undertitle undertitle . . . text2 text2" ". . . . text3 text3 . ." ". . . . . . text4 text4" ". . . . text5 text5 . ."
}

.benefits-line {
    position: sticky;
    top: 3em;
    margin-top: 2em;
    margin-right: 1.75em;
    width: 2px;
    height: 20%;
    background-color: black;
    grid-area: line;
    justify-self: end;
}

.benefits-h1 {
    position: sticky;
    top: 1em;
    grid-area: title;
}

.benefits-h2 {
    margin-top: -16.5em;
    position: sticky;
    top: -1.5em;
    grid-area: benefits;
    justify-self: end;
    writing-mode: vertical-lr;
    transform: rotateY(180deg) scale(1, -1);
    height: 100%;
}

.benefits-under {
    position: sticky;
    top: 8em;
    grid-area: undertitle;
    margin-top: -7em;
    line-height: 1.8;
    font-weight: 500;
}

.benefits-box1 {
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 5em;
    margin-left: 5em;
    margin-right: -4em;
    grid-area: text1;
    line-height: 1.8;
    font-weight: 500;
    border-style: solid;
    border-width: thick;
    border-color: #00b19e;
    border-radius: 10px;
    width: 80%;
}

    .benefits-box1 > h1 {
        margin-top: 0;
    }

    .benefits-box1 > p {
        margin-top: -1em;
    }

    .benefits-box1:hover {
        transition-duration: 0.2s;
        transform: scale(1.1);
        box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.3);
        border-color: #0c766a;
    }



.benefits-box2 {
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 5em;
    margin-left: -4em;
    margin-right: 5em;
    grid-area: text2;
    margin-top: -0.5em;
    line-height: 1.8;
    font-weight: 500;
    border-style: solid;
    border-width: thick;
    border-color: #00b19e;
    border-radius: 10px;
    width: 80%;
}

    .benefits-box2 > h1 {
        margin-top: 0;
    }

    .benefits-box2 > p {
        margin-top: -1em;
    }

    .benefits-box2:hover {
        transition-duration: 0.2s;
        transform: scale(1.1);
        box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.3);
        border-color: #0c766a;
    }

.benefits-box3 {
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 5em;
    margin-left: 5em;
    margin-right: -4em;
    grid-area: text3;
    margin-top: -0.5em;
    line-height: 1.8;
    font-weight: 500;
    border-style: solid;
    border-width: thick;
    border-color: #00b19e;
    border-radius: 10px;
    width: 80%;
}

    .benefits-box3 > h1 {
        margin-top: 0;
    }

    .benefits-box3 > p {
        margin-top: -1em;
    }

    .benefits-box3:hover {
        transition-duration: 0.2s;
        transform: scale(1.1);
        box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.3);
        border-color: #0c766a;
    }

.benefits-box4 {
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 5em;
    margin-left: -4em;
    margin-right: 5em;
    grid-area: text4;
    margin-top: -0.5em;
    line-height: 1.8;
    font-weight: 500;
    border-style: solid;
    border-width: thick;
    border-color: #00b19e;
    border-radius: 10px;
    width: 80%;
}

    .benefits-box4 > h1 {
        margin-top: 0;
    }

    .benefits-box4 > p {
        margin-top: -1em;
        padding-bottom: 1em;
    }

    .benefits-box4:hover {
        transition-duration: 0.2s;
        transform: scale(1.1);
        box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.3);
        border-color: #0c766a;
    }

.benefits-box5 {
    padding-left: 1em;
    padding-right: 1em;
    margin-left: 5em;
    margin-right: -4em;
    grid-area: text5;
    margin-top: -0.5em;
    line-height: 1.8;
    font-weight: 500;
    border-style: solid;
    border-width: thick;
    border-color: #00b19e;
    border-radius: 10px;
    width: 80%;
}

    .benefits-box5 > h1 {
        margin-top: 0;
    }

    .benefits-box5 > p {
        margin-top: -1em;
    }

    .benefits-box5:hover {
        transition-duration: 0.2s;
        transform: scale(1.1);
        box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.3);
        border-color: #0c766a;
    }

.map > iframe {
    display: grid;
    grid-template-columns: 1fr;
    height: 35em;
    width: 100%;
    border: 0;
    margin-bottom: 10em;
}

.contact-container {
    margin-bottom: 6em;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 1em;
    grid-template-areas: "line title . form ." "contact text . form ."
}

.contact-h1 {
    grid-area: title;
}

.contact-h2 {
    margin-top: -21.5em;
    grid-area: contact;
    justify-self: end;
    writing-mode: vertical-lr;
    transform: rotateY(180deg) scale(1, -1);
    height: 100%;
}

.contact-line {
    margin-top: 2em;
    margin-right: 1.75em;
    width: 2px;
    height: 20%;
    background-color: black;
    grid-area: line;
    justify-self: end;
}

.contact-text {
    grid-area: text;
    margin-top: -12em;
    line-height: 1.8;
    font-weight: 500;
}

.contact-container > form {
    padding-top: 2em;
    grid-area: form;
    font-weight: 500;
}

input[type=text2], select, textarea {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
    margin-top: 5px;
    padding-left: 5px;
    height: 30px;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    border-top: 4px solid #00b19e;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    box-shadow: inset 0px 0px 1px 1px #d3d2cc;
}

input[type=submit2] {
    width: 100%;
    height: 35px;
    background: #00b19e;
    font-weight: 600;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    outline: none;
    border: 0px;
    cursor: pointer;
    text-align: center;
}

    input[type=submit2]:hover {
        transition: background-color 0.2s;
        background: #018679;
    }

.footer {
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 1em;
    padding-bottom: 1em;
    width: 100%;
    color: #e4e3dd;
    background-color: #0d171a;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    justify-items: center;
}

@media only screen and (max-width: 1536px) {
    h1 {
        font-size: 1.6em;
    }

    h2 {
        font-size: 16;
    }

    p {
        font-size: 14px;
    }

    .login-form > form {
        font-size: 11px;
    }

    input[type="text"], input [type="password"] {
        font-size: 10px;
    }

    .register > a {
        font-size: 10px;
    }

    .features-block {
        font-size: 40px;
    }

    .features-text1 > h1 {
        font-size: 56px;
    }

    .features-text1 > h2 {
        font-size: 56px;
    }

    .features-text2 > h1 {
        font-size: 56px;
    }

    .features-text2 > h2 {
        font-size: 56px;
    }

    input[type=submit2] {
        font-size: 11px;
    }

    .about-text1, .about-text2 {
        margin-top: -2em;
    }

    .contact-text {
        margin-top: -12.5em;
    }

    .contact-line {
        height: 16%;
    }

    .contact-h2 {
        margin-top: -22.5em;
    }

    .benefits-h2 {
        margin-top: -13em;
    }

    .features-img {
        width: 100%;
    }

    .benefits-h2 {
        top: 0.5em;
    }

    .benefits-under {
        top: 6.5em;
    }
}

@media only screen and (max-width: 900px) {

    .about-h1 {
        display: block;
        padding-top: 3em;
        padding-bottom: 2em;
    }

    .about-text1 {
        display: block;
    }

    .about-text2 {
        display: block;
        padding: 1em;
    }


    .features-container {
        display: block;
    }

    .benefits-container, .contact-container {
        display: block;
        margin-left: 4em;
        margin-right: 4em;
    }

    .header-transition, .about-line, .about-h2, .benefits-line, .benefits-h2, .contact-line, .contact-h2 {
        display: none;
    }

    .benefits-h1 {
        position: relative;
    }

    .benefits-under {
        position: relative;
        padding-bottom: 10em;
    }

    .benefits-box1, .benefits-box2, .benefits-box3, .benefits-box4, .benefits-box5 {
        padding-left: 1em;
        padding-right: 1em;
        margin-left: 4em;
        margin-right: 4em;
    }

    .contact-h1 {
        padding-bottom: 13em;
    }
}

.login-form1 {
    display: none;
}

.header > img {
    width: 100%;
    height: 100%;
}
