body {
    background-image: url("/images/header2.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
html {
    height: 100%;
}

.registration-container {
    margin-top: 8em !important;
    margin: auto;
    /* margin: 0;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%); */
    padding-bottom: 4em;
    padding-left: 1em;
    padding-right: 1em;
    background: white;
    border-radius: 10px;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.3);
    width: 45%;
    overflow-x: auto;
}

.form-control {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
    margin-top: 5px;
    padding-left: 5px;
    height: 30px;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    border-top: 2px solid #00b19e;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    box-shadow: inset 0px 0px 1px 1px #d3d2cc;
}

#form-control {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
    margin-top: 5px;
    padding-left: 5px;
    height: 30px;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    border-top: 2px solid #00b19e;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    box-shadow: inset 0px 0px 1px 1px #d3d2cc;
}

#button {
    width: 500px;
    height: 35px;
    background: #00b19e;
    font-weight: 600;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    outline: none;
    border: 0px;
    cursor: pointer;
    text-align: center;
}

    #button:hover {
        transition: background-color 0.2s;
        background: #018679;
    }

.well {
    padding-top: 50px;
    /* padding-left: 200px;
  padding-bottom: 100px;
  float: left; */
    color: #0d171a;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    width: 500px;
    margin: 0 auto;
}

h1 {
    padding: 0px;
    margin: 0px;
    margin-bottom: 15px;
    color: #0d171a;
    font-family: 'Montserrat', sans-serif;
    /* font-size: 49px; */
}

h2 {
    padding: 0px;
    margin: 0px;
    margin-left: 5px;
    margin-bottom: 5px;
    color: #00b19e;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.heading-line {
    height: 3px;
    width: 155px;
    padding-left: 5px;
    margin-bottom: 23px;
    background-color: #00b19e;
    border: none;
    margin: 0 auto;
}

.header-container {
    padding-top: 50px;
    margin: 0 auto;
    text-align: center;
}

#button2 {
    top: 0;
    left: 0;
    position: absolute;
    width: 250px;
    height: 35px;
    background: #00b19e;
    font-weight: 600;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    outline: none;
    border: 0px;
    cursor: pointer;
    text-align: center;
    line-height: 35px;
    text-decoration: none;
}

    #button2:hover {
        transition: background-color 0.2s;
        background: #018679;
    }

.footer {
    left: 0;
    bottom: 0;
    position: absolute;
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 1em;
    padding-bottom: 1em;
    width: 100%;
    color: #e4e3dd;
    background-color: #0d171a;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    justify-items: center;
}
