body {
    margin: 0;
    padding: 0;
    position: relative;
    background: #e4e3dd;
}

.form-control {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
    margin-top: 5px;
    padding-left: 5px;
    height: 30px;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    border-top: 2px solid #00b19e;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    box-shadow: inset 0px 0px 1px 1px #d3d2cc;
  }
#form-control {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
    margin-top: 5px;
    padding-left: 5px;
    height: 30px;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    border-top: 2px solid #00b19e;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    box-shadow: inset 0px 0px 1px 1px #d3d2cc;
}
  
 #button {
    width: 500px;
    height: 35px;
    background: #00b19e;
    font-weight: 600;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    outline: none;
    border: 0px;
    cursor: pointer;
    text-align: center;
  }
  
  #button:hover {
    transition: background-color 0.2s;
    background: #018679;
  }

.well {
    padding-top: 50px;
    /* padding-left: 200px;
    padding-bottom: 100px;
    float: left; */
    color: #0d171a;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    width: 500px;
    margin: 0 auto;
}

h1 {
    padding: 0px;
    margin: 0px;
    margin-bottom: 15px;
    color: #0d171a;
    font-family: 'Montserrat', sans-serif;
    /* font-size: 49px; */
}

h2 {
    padding: 0px;
    margin: 0px;
    margin-left: 5px;
    margin-bottom: 5px;
    color: #00b19e;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.heading-line {
    height: 3px;
    width: 155px;
    padding-left: 5px;
    margin-bottom: 23px;
    background-color: #00b19e;
    border: none;
    margin: 0 auto;
}

.header-container {
    padding-top: 50px;
    margin: 0 auto;
    text-align: center;
}

#button2 {
    width: 250px;
    height: 35px;
    background: #00b19e;
    font-weight: 600;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    outline: none;
    border: 0px;
    cursor: pointer;
    text-align: center;
    line-height: 35px;
    text-decoration: none;
}

    #button2:hover {
        transition: background-color 0.2s;
        background: #018679;
    }

.footer-2 {
    margin-top: 100px;
    display: inline-block;
    height: 50px;
    padding-top: 25px;
    width: 100%;
    color: #7d7d7d;
    background-color: #0d171a;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}