
<!DOCTYPE html>
<html>
<head>
    <title>TYPO</title>
    
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500&display=swap" rel="stylesheet">
    <script src="/Scripts/jquery-3.3.1.min.js"></script>
    <script src="/Scripts/main.js"></script>
</head>
<body>

@RenderBody()

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>